@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ds-background: #fefefe; /* neutral/50 */
    --ds-foreground: #1e2022; /* neutral/800 */
    --ds-card: #ffffff;
    --ds-popover: #ffffff;

    --ds-primary: #0172fe; /* blue/500 */
    --ds-primary-foreground: #ffffff;

    --ds-secondary: #fbfcfd; /* neutral/100 */
    --ds-secondary-foreground: #1e2022;

    --ds-muted: #f7f8f9; /* neutral/200 */
    --ds-muted-foreground: #53585c; /* neutral/600 */

    --ds-accent: #a670eb; /* purple/500 */
    --ds-accent-foreground: #ffffff;

    --ds-destructive: #f83b68; /* pink/500 */
    --ds-destructive-foreground: #ffffff;

    --ds-border: #e9ebee; /* neutral/300 */
    --ds-input: #e9ebee;
    --ds-ring: #0172fe;

    --ds-radius: 0.5rem;
  }

  [data-ds-theme] {
    --ds-background: #fefefe;
    --ds-foreground: #1e2022;
    --ds-card: #ffffff;
    --ds-popover: #ffffff;

    --ds-primary: #0172fe;
    --ds-primary-foreground: #ffffff;

    --ds-secondary: #fbfcfd;
    --ds-secondary-foreground: #1e2022;

    --ds-muted: #f7f8f9;
    --ds-muted-foreground: #53585c;

    --ds-accent: #a670eb;
    --ds-accent-foreground: #ffffff;

    --ds-destructive: #f83b68;
    --ds-destructive-foreground: #ffffff;

    --ds-border: #e9ebee;
    --ds-input: #e9ebee;
    --ds-ring: #0172fe;

    --ds-radius: 0.5rem;
  }

  .dark {
    --ds-background: #1e2022;
    --ds-foreground: #ffffff;
    --ds-card: #1e2022;
    --ds-popover: #1e2022;

    --ds-primary: #0172fe;
    --ds-primary-foreground: #ffffff;

    --ds-secondary: #3d4044; /* neutral/700 */
    --ds-secondary-foreground: #ffffff;

    --ds-muted: #2e3236;
    --ds-muted-foreground: #b3bac2;

    --ds-accent: #977aec; /* purple/400 */
    --ds-accent-foreground: #ffffff;

    --ds-destructive: #f83b68;
    --ds-destructive-foreground: #ffffff;

    --ds-border: #3d4044;
    --ds-input: #3d4044;
    --ds-ring: #4d9cfe; /* blue/400 */
  }

  [data-ds-theme].dark {
    --ds-background: #1e2022;
    --ds-foreground: #ffffff;
    --ds-card: #1e2022;
    --ds-popover: #1e2022;

    --ds-primary: #0172fe;
    --ds-primary-foreground: #ffffff;

    --ds-secondary: #3d4044;
    --ds-secondary-foreground: #ffffff;

    --ds-muted: #2e3236;
    --ds-muted-foreground: #b3bac2;

    --ds-accent: #977aec;
    --ds-accent-foreground: #ffffff;

    --ds-destructive: #f83b68;
    --ds-destructive-foreground: #ffffff;

    --ds-border: #3d4044;
    --ds-input: #3d4044;
    --ds-ring: #4d9cfe;
  }
}
